Source: openplotter-opencpn-installer
Section: misc
Priority: optional
Maintainer: Sailoog <info@sailoog.com>
Build-Depends: debhelper (>=9),dh-python,python3-all,python3-setuptools
Standards-Version: 3.9.6
Homepage: https://github.com/openplotter/openplotter-opencpn-installer
X-Python3-Version: >= 3.2

Package: openplotter-opencpn-installer
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python3:Depends}, openplotter-settings, flatpak, libusb-0.1-4
Description: OpenPlotter app to manage OpenCPN installation
 OpenPlotter app to manage OpenCPN installation
